body,html{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    color: white;
}

h1{
    font-size: 3rem;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Dialog to edit title */
#edit-title-dialog{
    background-color: #222831;
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
}

.todo-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
}

button.submit-title{
    background-color: #00b51b;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width:50%;
}

/* Projects Container */
.project-container{
    background-color: #222831;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-project-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.add-project-button{
    background-color: #00ADB5;
    color: white;
    border: none;
    padding:10px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.project-input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
}

.project-item{
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom:20px;
}

.project-item > button:first-of-type{
    text-align: left;
    background-color: #00ADB5;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-right:10px;
}

.edit-project-button{
    margin-right:10px;
    background-color: #00ADB5;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.edit-project-button img{
    width: 15px;
    height: auto;
}

.delete-project-button{
    background-color: #00ADB5;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.delete-project-button img{
    width: 15px;
    height: auto;
}

/* Dialog Box */
#add-todo-dialog{
    background-color: #222831;
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
}

#add-todo-dialog > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#add-todo-dialog input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
}

#add-todo-dialog .todo-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}


#add-todo-dialog .todo-description-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
textarea{
    font-family: Arial, sans-serif;;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    width: 100%;
}

.todo-date-priority-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.todo-buttons-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:25px;
}
.todo-buttons-container > button{
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button.close{
    background-color: #b50027;
}
button.submit{
    background-color: #00b51b;
}

/* To Do List */
.todo-container{
    background-color: #393E46;
    padding: 20px;
}

.add-todo-button{
    background-color: #00ADB5;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: large;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.taskContainer{
    background-color: #222831;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.taskDatePriority{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.editTaskBtn{
    background-color: #00ADB5;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.taskDeleteBtn{
    background-color: #00ADB5;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.editTaskBtn img{
    width: 15px;
    height: auto;
}
.taskDeleteBtn img{
    width: 15px;
    height: auto;
}